.about-us-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: left;
  animation: fadeIn 1.5s ease-in forwards;
  opacity: 0;
  -webkit-animation: fadeIn 1.5s ease-in forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

h2 {
  font-size: 24px;
  margin-top: 20px;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}
